
$negro: #000;
$blanco: #fff;
$blanco-2: rgb(167, 167, 167);
$gris: rgb(128, 128, 128);

$franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$arial: Arial, Helvetica, sans-serif;

